<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.boke.module.mapper.ArticleMapper">
<cache readOnly="true" eviction="FIFO"/>


 <select id="listQuery" parameterType="com.boke.module.param.ArticleQueryParam" resultType="com.boke.module.entity.Article">
        SELECT * FROM article
      <where>
          <if test="name != null and name!= ''">
              article.name = #{name}
          </if>
          <if test="titleId !=null and titleId !=''">
              title_id = #{titleId}
          </if>
      </where>
    </select>

</mapper>
